<%- include('../layout/header'); -%>
  <div class="container" style="margin-top: 50px">
    <div class="row">
  
      <!-- ITEMS -->
      <% for(var i = 0; i < places.length; i++) { %>
      <div class="col-md-3"  >
        <div class="p-1">
          <div class="card">
            <a href="./search/<%= places[i].name %>"><img src="<%= places[i].img %>" class="card-img-top">
              <div class="card-body">
                <h4 class="card-title">Điểm đến: <%= places[i].name %></h4>
                <h4 class="card-title" style="height: 60px;">Vùng:<%= places[i].region %></h4>
              </a>  
            </div>
            <div  style="border:none;margin-left:20px">

            </div>
          </div>
        </div>
      </div>
      <% } %>
    </div>

    <%- include('../layout/footer'); -%>

