<div class="page-title" style="background: no-repeat center/100% url('<%= tour.placeData.img %>')">
    <div class="background-desc"><%= tour.name %></div>
</div>
<div class="container ps-5 pe-5 mt-5 main-content">
    <div class="mb-4 tour-detail">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="info-tour mb-5">
                    <div class="row-info">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <span class="text-uppercase">Thời gian:</span>
                                <span class="fw-bold"><%= tour.duration %></span>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <span class="text-uppercase">Phương tiện:</span>
                                <span class="fw-bold"><%= tour.vehicle %> </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <span class="text-uppercase">Điểm xuất phát:</span>
                                <span class="fw-bold"><%= tour.departure %></span>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <span class="text-uppercase">Điểm đến:</span>
                                <span class="fw-bold"><%= tour.destination %></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-tour-detail">
                    <div class="row">
                        <div class="col-md-12 col-xs-12 tour-detail-title-information tour-detail-header-col">
                            <div class="row">
                                <div class="col-md 2 col-xs-12">Khởi hành</div>
                                <div class="col-md 2 col-xs-12">Ngày về</div>
                                <div class="col-md 2 col-xs-12">Mã Tour</div>
                                <div class="col-md 2 col-xs-12">Thời gian</div>
                                <div class="col-md 2 col-xs-12">Giá</div>
                                <div class="col-md 2 col-xs-12">Đặt/Mua tour</div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 tour-detail-content-col">
                            <div class="list-inline">
                                <div class="row">
                                    <div class="col-md 2 col-xs-12">
                                        <strong><%= tour.dateGo %></strong>
                                    </div>
                                    <div class="col-md 2 col-xs-12">
                                        <strong><%= tour.dateBack %></strong>
                                    </div>
                                    <div class="col-md 2 col-xs-12">
                                        <strong style="margin-left: -30px"><%= tour._id %></strong>
                                    </div>
                                    <div class="col-md 2 col-xs-12">
                                        <strong><%= tour.duration %></strong>
                                    </div>
                                    <div class="col-md 2 col-xs-12 price">
                                        <strong><%= tour.price %></strong>
                                    </div>
                                    <div class="col-md 2 col-xs-12 packageInfo">
                                        <div class="action-book">
                                            <a class="btn btn-buy-tour" href="/booking/book-tour/<%= tour.id %>">
                                                Mua Online
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-description">
                    <div class="title-description">Tour này có gì hay</div>
                    <div class="content-description"><%= tour.desc %></div>
                </div>
                <div class="row gx-5 row-image-box isdesktop">
                    <% tour.img.forEach(itemSrc => { %>
                    <div class="col-md-3 col-sm-6 col-xs-12 isotopeSelector" style="margin-bottom: 25px">
                        <img width="100%" height="80%" alt="image tour" src="<%= itemSrc %>" />
                    </div>
                    <% }) %>
                </div>
                <div class="row-info-tour">
                    <div class="title-description">Chương trình tour</div>
                    <div class="content-description">
                        <div>
                            <p class="sub-title">Điểm đón</p>
                            <p><%= tour.departure %></p>
                        </div>
                        <% tour.schedule.forEach(element => { %>
                        <div>
                            <p class="sub-title"><%= element.title %></p>
                            <p class="detail"><%= element.content %></p>
                            <img class="w-100" src="<%= element.img %>" alt="<%= element.title %>" />
                        </div>

                        <% }) %>
                    </div>
                </div>
                <div class="row-rating">
                    <div class="title-description">Đánh giá khách hàng về Tour <%= tour.name %></div>
                    <% if (reviews.length > 0) { %> <% reviews.forEach((review, index) => { %> <% const user =
                    users.find(user => user._id.toString() === review.userId.toString()); %>
                    <div class="col-xs-12 col-md-4">
                        <div class="item">
                            <div class="border-bottom item__content">
                                <div class="item__pre_title">Tên: <%= user.username %></div>
                                <p class="item__desc">Ngày đánh giá: <%= review.createdAt %></p>
                                <p class="item__desc">Đánh giá: <%= review.rating %></p>
                                <p class="item__desc">Bình luận: <%= review.comment %></p>
                            </div>
                        </div>
                    </div>
                    <% }) %> <% } else { %>
                    <div class="col-xs-12">
                        <p>Không có đánh giá nào cho tour này.</p>
                    </div>
                    <% } %>
                    <div class="content-description"></div>
                </div>
            </div>
        </div>
    </div>
</div>
